@{
    ViewData["Title"] = "Home Page";
}

<div class="m-3 w-full bg-orange-300 p-3 text-2xl text-red-800">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section Scripts{
    <script type="module">
        import { Print } from "/js/app.js";
        import {Swal} from "/lib/sweetalert2/sweetalert2.js";
       
                Swal.fire({
          title: 'Error!',
          text: 'Do you want to continue',
          icon: 'error',
          confirmButtonText: 'Cool'
        })

    </script>


}