<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blog.Web.styles.css" asp-append-version="true" />
</head>
<body class="bg-slate-100">
    <div class="flex min-h-screen flex-col">
        <div class="topbar w-fulln sticky top-0 z-30 border-b border-slate-200 bg-white">
            <div class="flex items-center justify-between gap-3 px-4 py-3">

                <div class="flex items-center gap-1">
                    <img src="icons/hand-coins.svg" alt="Logo" />
                    <NavLink href="/" class="cursor-pointer">
                        <h2 class="text-xl font-bold">My App</h2>
                    </NavLink>
                </div>

            
                <div class="flex items-center gap-3">
                    <div class="flex items-center gap-1">
                        <img src="icons/user.svg" />
                        <label class="font-medium">Monjy</label>
                    </div>
                    <button class="flex cursor-pointer items-center gap-1 rounded-lg border border-rose-300 bg-rose-50 px-3 py-1 text-rose-700 hover:bg-rose-100">
                        <img src="icons/log-out.svg" />
                        Logout
                    </button>
                </div>
            </div>
        </div>
        <div class="flex flex-1">
            <aside class="left-navbar w-72 border-r border-slate-200 bg-white">
                <nav class="space-y-3 p-3">
                    <NavLink href="dashboard" class="flex w-full rounded border border-slate-200 px-3 py-2 hover:bg-emerald-100">
                        <span class="font-medium">Dashboard</span>
                    </NavLink>


                    <NavLink href="invoices" class="flex w-full rounded border border-slate-200 px-3 py-2 hover:bg-emerald-100">
                        <span class="font-medium">Invoices</span>
                    </NavLink>

                    <NavLink href="clients" class="flex w-full rounded border border-slate-200 px-3 py-2 hover:bg-emerald-100">
                        <span class="font-medium">Clients</span>
                    </NavLink>


                    <NavLink href="services" class="flex w-full rounded border border-slate-200 px-3 py-2 hover:bg-emerald-100">
                        <span class="font-medium">Products/Services</span>
                    </NavLink>
                </nav>
            </aside>
            <div class="body-content flex-1 p-3">
                @RenderBody()
            </div>
        </div>
    </div>
  
    <script src="~/js/site.js" asp-append-version="true"></script>
   @*  <script src="~/js/app.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
